<div class="row">
    <div class="col-md-4 text-center"><h2>30</h2></div>
    <div class="col-md-4 text-center"><h2>19:29</h2></div>
    <div class="col-md-4 text-center"><h2>30</h2></div>
</div>
<div class="row">
    <div class="col-md-4  text-center">
        <div class="btn-group-vertical text-center" data-toggle="buttons">
            <label class="btn btn-lg btn-primary active" ng-repeat="person in game.HomeTeam.Players">
                <input type="radio" name="options" id="option1" autocomplete="off">{{person.FirstName}}
            </label>
        </div>

    </div>
    <div class="col-md-4  text-center">
        <button type="button" class="btn btn-default" ng-click="buttonClick()">2 Pt Made</button>
        <button type="button" class="btn btn-default">2 Pt Missed</button>
        <button type="button" class="btn btn-default">3 Pt Made</button>
        <button type="button" class="btn btn-default">3 Pt Missed</button>
        <button type="button" class="btn btn-default">Free Throw made</button>
        <button type="button" class="btn btn-default">Free Throw Missed</button>
        <button type="button" class="btn btn-default">Off Foul</button>
        <button type="button" class="btn btn-default">Def Foul</button>
        <button type="button" class="btn btn-default">Assist</button>
        <button type="button" class="btn btn-default">Steal</button>
        <button type="button" class="btn btn-default">Off Rebound</button>
        <button type="button" class="btn btn-default">Def Rebound</button>

    </div>
    <div class="col-md-4  text-center">
        <div class="btn-group-vertical text-center" data-toggle="buttons">
            <label class="btn btn-lg btn-primary active" data-ng-repeat="person in game.AwayTeam.Players">
                <input type="radio" name="options" id="option1" autocomplete="off">{{person.FirstName}}
            </label>
        </div>
    </div>
</div>
