<div class="row">
    <div class="col-md-6">
        <div class="btn-group-vertical">
            <h3>Select Game</h3>
            <a ng-href="#/home/{{game.GameId}}" ng-click="setGame(game.GameId)" class="btn btn-default" data-ng-repeat="game in games"> {{ game.HomeTeam.Name }} v. {{game.AwayTeam.Name}}</a>            
        </div>
    </div>
    <div class="col-md-6" ng-show="currentGame != null">
        <div class="col-md-6">
            <h4>{{currentGame.HomeTeam.Name}} (Home) <a href="#/team/{{currentGame.HomeTeam.TeamId}}">Edit</a></h4>
            <ul>
                <li data-ng-repeat="player in currentGame.HomeTeam.Players">{{player.FirstName}} {{player.LastName}} {{player.Number}}</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>{{currentGame.AwayTeam.Name}} (Away) <a href="#/team/{{currentGame.AwayTeam.TeamId}}">Edit</a></h4>
            <ul>
                <li data-ng-repeat="player2 in currentGame.AwayTeam.Players">{{player2.FirstName}} {{player2.LastName}} {{player2.Number}}</li>
            </ul>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <a href="#/game" data-ng-hide="currentGame == null" class="btn btn-default">Edit</a>
            <a href="#/game/{{currentGame.GameId}}" data-ng-hide="currentGame == null" class="btn btn-primary">Start</a>

        </div>
    </div>
</div>