<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal">
            <fieldset>
              
                <input type="hidden" id="inputId" placeholder="Email" ng-model="team.TeamId">
                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Team Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Email" ng-model="team.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCoachName" class="col-lg-2 control-label">Coach Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputCoachName" placeholder="Coach Name" ng-model="team.CoachName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputHometown" class="col-lg-2 control-label">Hometown</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputHometown" placeholder="Hometown" ng-model="team.Hometown">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputState" class="col-lg-2 control-label">State</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputState" placeholder="State" ng-model="team.State">
                    </div>
                </div>                
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" ng-click="reset()" class="btn btn-default">Cancel</button>
                        <button type="submit" ng-click="update(team)" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Players</h3>
        <a href="#/player/{{player.PlayerId}}" data-ng-repeat="player in team.Players" class="btn btn-default btn-lg btn-block">{{player.FirstName}} {{player.LastName}}</a>
        <button ng-click="openNewTeamModal('sm')" class="btn btn-default btn-lg col-md-6">+ Add New Player</button><button ng-click="openAddTeamModal('sm')" class="btn btn-default btn-lg col-md-6">+ Add Player</button>
    </div>
</div>