@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    //var myApp = angular.module('myApp', []);

    //myApp.controller('mainController', ['$scope', '$http', function ($scope, $http) {
    //    var people = [{ 'Name': 'Matt Krebs' }, { 'Name': 'Matt Krebs' }, { 'Name': 'Matt Krebs' }, { 'Name': 'Matt Krebs' }];
    //    $scope.people = people;
       
    //    $http.get('/api/Game').success(function (data) {
    //        var hometeam = [];
    //        var awayteam = [];

    //    });

    //}]);




</script>
<h2>Demo </h2>
<div class="container">
    <div data-ng-view="">
    </div>
</div>
