<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://stattrackerwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stattrackerwebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StatTrackerWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StatTrackerWebApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StatTrackr.Model.StatTrackrContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tms4d84twu.database.windows.net,1433;Initial Catalog=StatTrackr;User ID=stattrackr;Password=&quot;]$+A=4hCCx5VUqB&quot;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StatTrackr.Model.StatTrackrContext, StatTrackr.Model" MigrationConfiguration="StatTrackr.Model.Migrations.Configuration, StatTrackr.Model" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StatTrackr.Model.StatTrackrContext-Web.config Connection String">
      <ParameterValue>Data Source=tms4d84twu.database.windows.net,1433;Initial Catalog=StatTrackr;User ID=stattrackr;Password="]$+A=4hCCx5VUqB"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="StatTrackr.Model.StatTrackrContext" />
  </ItemGroup>
</Project>